<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tok-ah</title>

  <meta property="og:url" content="https://tok-ah.herokuapp.com" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Toh-ka" />
  <meta property="og:description" content="Blog de Arte" />
  <meta property="og:image" content="" />

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">Blog da Bia!</a>
      <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog da Bia!</h1>
            <span class="subheading">O blog mais da hora!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div id="posts-container" class="col-lg-8 col-md-10 mx-auto">
        <% for(var i=0; i< posts.length; i++) {%>
          <div class="post-preview" style="cursor: pointer;" href="#<%= posts[i]._id %>" data-toggle="modal">
            <h2 class="post-title">
              <%= posts[i].title %>
            </h2>
            <img class="img-fluid img-centered" src="<%= posts[i].img %>" alt="<%= posts[i].title %>" />
            <h3 class="post-subTitle">
              <%= posts[i].subTitle %>
            </h3>
            <p class="post-meta">
              <%= moment(posts[i].date).format('D/MMM/YY - h:mm a') %>
            </p>
          </div>
          <% } %>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Templates -->
  <script id="post-template" type="text/template">
    <div class="post-preview" style="cursor: pointer;" href="#{{_id}}" data-toggle="modal">
        <h2 class="post-title">
          {{title}}
        </h2>
        <img class="img-fluid img-centered" src="{{img}}" alt="{{img}}" />
        <h3 class="post-subTitle">
          {{subTitle}}
        </h3>
      <p class="post-meta">
        {{date}}
      </p>
    </div>
  </script>
  <script id="modal-template" type="text/template">
    <div class="portfolio-modal modal fade" id="{{_id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>
                    {{title}}
                  </h2>
                  <!-- <hr /> -->
                  <img class="img-fluid img-centered" src="{{img}}" alt="{{title}}">
                  <p>
                    {{text}}
                  </p>
                  <ul class="list-inline item-details">
                    <li>
                      <strong>
                          {{date}}
                      </strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- Modals -->
  <div id="Modals">
    <% for(var i=0; i< posts.length; i++) {%>
      <div class="portfolio-modal modal fade" id="<%= posts[i]._id %>" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <h2>
                      <%= posts[i].title %>
                    </h2>
                    <!-- <hr /> -->
                    <img class="img-fluid img-centered" src="<%= posts[i].img %>" alt="<%= posts[i].title %>">
                    <p>
                      <%= posts[i].text%>
                    </p>
                    <ul class="list-inline item-details">
                      <li>
                        <strong>
                          <%= moment(posts[i].date).format('D/MMM/YY - h:mm a') %>
                        </strong>
                      </li>
                    </ul>
                    <button class="btn btn-success" type="button" data-dismiss="modal">
                      <i class="fa fa-times"></i>
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
  </div>

  <!-- CDN -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>


  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script> -->
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script type="text/javascript" src="/js/jquery.endless-scroll.js"></script>
  <script type="text/javascript" src="/js/clean-blog.min.js"></script>
  <script type="text/javascript" src="/js/moment.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>

</body>

</html>